body {
  background-image: url("https://cdn.wallpapersafari.com/95/26/v8Mu6Z.jpg");
  background-repeat: no-repeat;;
}
h1 {
  text-align : center;
  font-family : Arial;
  font-size : 60px;
  color : blue;
  text-decoration : underline;
  direction : rtl;
}

h2 {
  text-align : center;
  font-family : Arial;
  font-size : 50px;
  color : yellow;
  text-decoration : underline;
}

 p {
   text-align : justify;
   font-family : Times New Roman;
   font-size : 20px;
   color : red;
}
