body {
  background-color : turquoise;
}
h1 {
  text-align : center;
  font-family : Arial;
  font-size : 60px;
  color : blue;
}

.zoom div img {
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.zoom div:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}
 p {
   text-align : justify;
   font-family : Times New Roman;
   font-size : 20px;
   color : red;
}
